<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="calc" ng-controller="CalcCtrl">

    <div id="CalculatorContainer">

        <!-- first row -->
        <div class="row">
          <div class="col-75">
            <label class="item item-input"><input id="Expression" ng-class="{underline: displayingResult}" ng-model="expression" type="text"></label>
          </div>
          <div class="col-25">
            <button class="button button-block" ng-click="clear()">C</button>
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <button class="button button-block" ng-click="numPress(7)">7</button>
          </div>
          <div class="col-25">
            <button class="button button-block" ng-click="numPress(8)">8</button>
          </div>
          <div class="col-25">
            <button class="button button-block" ng-click="numPress(9)">9</button>
          </div>
          <div class="col-25">
            <button class="button button-block" ng-class="{highlight: operator == 'add'}" ng-click="operatorPress('add')">+</button>
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <button class="button button-block" ng-click="numPress(4)">4</button>
          </div>
          <div class="col-25">
            <button class="button button-block" ng-click="numPress(5)">5</button>
          </div>
          <div class="col-25">
            <button class="button button-block" ng-click="numPress(6)">6</button>
          </div>
          <div class="col-25">
            <button class="button button-block" ng-class="{highlight: operator == 'subtract'}" ng-click="operatorPress('subtract')">-</button>
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <button class="button button-block" ng-click="numPress(1)">1</button>
          </div>
          <div class="col-25">
            <button class="button button-block" ng-click="numPress(2)">2</button>
          </div>
          <div class="col-25">
            <button class="button button-block" ng-click="numPress(3)">3</button>
          </div>
          <div class="col-25">
            <button class="button button-block" ng-class="{highlight: operator == 'multiply'}" ng-click="operatorPress('multiply')">*</button>
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <button class="button button-block" ng-click="numPress(0)">0</button>
          </div>
          <div class="col-50">
            <button class="button button-block" ng-click="evaluate()">=</button>
          </div>
          <div class="col-25">
            <button class="button button-block" ng-class="{highlight: operator == 'divide'}" ng-click="operatorPress('divide')">/</button>
          </div>
        </div>

      </div>

  </body>
</html>
